* {
    padding: 0;
    font-style: normal;
    box-sizing: border-box;
}

body {
    min-height: 97vh;
    background-color: rgba(238, 170, 170, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#points{
    margin-top: 160px;
}

#points,
#h1,
#chance,
#lose,
#err {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

#btn {
    padding: 10px;
    font-size: 13px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
